#jumbotron {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    background-color: #D9EDEE;
}

#logo {
    margin-left: auto;
    margin-right: auto;
}

#name {
    color: #626264;
}

#function {
    color: #74BCB9;
}

.footer {
    border-top: 1px solid #e5e5e5;
    margin-top: 40px;
}